/* headerここから */
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 230px;
    margin-right: 288px;
    padding: 10px;
    height: 93px;
    font-family: 'Bodoni';
}
/* headerここまで */

/* swiperここから */
.back_ground{
    background-image: url(../img/background.png);
    background-size: cover;
    height: 600px;
}

.c-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 0 15px;
  }

.swiper-slide img{
    padding-top: 250px;
    padding-left: 240px;
    width: 60%;

}

.text_ja {
    font-size: 20px;
    margin-left: 486px;
    margin-top: 30px;
    font-family: 'Caveat', serif;

}

.text_en{
    margin-left: 486px;
    margin-top: 30px;
    font-family: 'futura-pt', sans-serif;
}

.line{
    width: 200px;
    margin-left: 486px;
}

.swiper-button-prev{
    text-align: center;
}


/* swiperここまで */

/* main */
.primitive {
    margin-top: 125px;
    margin-left: 226px;
    display: flex;
    justify-content: space-around;
}

.primitive img{
    width: 697px;
}


.title{
    margin-top: 46px;
    margin-left: 85px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title_main{
    font-family: 'Caveat', serif;
    font-size: 64px;
    margin-left: 85px;
}


.title_ja{
    font-family: 'Caveat', serif;
    font-size: 30px;
    margin-left: 85px;
    margin-top: 18px;
}

.title_en{
    font-family: 'Caveat', serif;
    font-size: 15px;
    margin-left: 85px;
    margin-top: 90px;
}

.line2{
    margin-left: 85px;
    width: 80px;
}